@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e1e1e;
  font-family: sans-serif;
  color: #354358;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #00f260, #1c18ff);
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
